/* Hamburger icon styles */

.nav {
    background-color: brown;
    color: white;
}

.ul {
    list-style-type: none;
    display: flex;
    padding: 12px;
}

li {
    margin-left: 90px;
    font-family: 'Montserrat Alternates';
    transition: background-color;
}

.logo3 {
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 1;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    /* Adjust top position as needed */
    right: 40px;
    /* Adjust right position as needed */
    z-index: 999;
    /* Ensure it appears above other content */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px 0;
}

.hrn {
    height: "20px";
    margin-left: "10px"
}

/* Show hamburger menu for smaller screens */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .ul {
        display: none;
        z-index: 2;
    }

    .ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* Adjust top position as needed */
        background-color: brown;
        /* Adjust background color as needed */
        width: 100%;
        /* Occupy full width */
    }

    .ul li {
        margin-left: 0;
        /* Remove left margin for list items */
        padding: 10px;
        /* Add padding to list items */
    }

    .logo3 {
        position: absolute;
        right: 30px;
        top: 60px;
        z-index: 1;
    }
}